/*theme.css*/
h1,h3{
	text-align: center;
	color: black;
	font-weight: normal;
}

#sidebarLogo{
	margin: 15px 25px 15px 0px;
}

.badge{
	float: right;
	margin-right: 35px;
	margin-top: 15px;
	vertical-align: center;
	display: normal;
}

#linkBrand{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 150px;
}

.img-circle{
    border-radius: 50%;
}

#cardAlbum{
	padding: 15px;
}

#imgAlbum{
	width:100%;
}

#menu-toggle{
	outline: none;
	float: left;
	position: absolute;
	margin: 50px;
}

#logoImage{
	display: inline;
	height: 150px;
	width: 150px;
}

.well{
	border-radius: 20px;
}

#iconAlbum{
	margin: 10px;
	float: left;
}

#nameAlbum{
	vertical-align: middle;
	font-size: 18px;
}

#button{
	margin-right: 10px;
	margin-left: 10px;
}

#playButton{
	margin: 15px;
}

#searchButton, #playButton, #playlistButton, #button{
	outline: none;
}

#imagePlayingSong{
	padding: 0px;
	margin: 5px;
	margin-right: 20px;
/*    border-radius: 50%;*/
}

#miniPlayer{
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
}

#songs, #albums, #artists{
	display: none;
}

#buttonAlbum{
	position: absolute;
	top: 50%;
	padding-top: 50px;
}

#recomendations{
	display: none;
}

#snackButton{
	display: none;
	position: fixed;
	float: left;
	left: 20px;
	bottom: 100px;
}

body {
	font-family: "Roboto";
	background-color: white;
}

.jumbotron{
	margin-left: 0px;
	margin-right: 0px;
}

#nameAlbum{
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: elipsis;
	-o-text-overflow: elipsis;
}

.navbar{
	background-color: rgba(255,255,255,0.85)!important;
	opacity: 80%!important;
}

#namePlayingSong{
	font-weight: bold;
	font-size: 16px;
}

#albumPlayingSong{
	font-style: italic;
	font-size: 14px;
}

#namePlayingSong,#albumPlayingSong{
	color: black;
}

#miniplayer{
	display: none;
/*	-webkit-transition: all 2.5s ease-in-out;
	-moz-transition: all 2.5s ease-in-out;
	-ms-transition: all 2.5s ease-in-out;
	-o-transition: all 2.5s ease-in-out;
	transition: all 2.5s ease-in-out;*/

}

/*ANIMACIO FADEIN*/
#wrapper{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}