/*theme.css*/
h1,h3{
	text-align: center;
	color: black;
	font-weight: normal;
}

#cursive{
	font-style: italic;
}

#sidebarLogo{
	margin: 15px 25px 15px 0px;
}

.badge{
	float: right;
	margin-right: 35px;
	margin-top: 15px;
	vertical-align: center;
	display: normal;
}

#linkBrand{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 150px;
}

.img-circle{
    border-radius: 50%;
}

#cardAlbum{
	padding: 15px;
}

#imgAlbum{
	width:100%;
}

#menu-toggle{
	outline: none;
}

#logoImage{
	display: inline;
	height: 150px;
	width: 150px;
}

.well{
	border-radius: 20px;
}

#iconAlbum{
	margin: 10px;
	float: left;
}

#nameAlbum{
	vertical-align: middle;
	font-size: 18px;
}

#button{
	margin-right: 10px;
	margin-left: 10px;
}


#searchButton, #playButton, #playlistButton, #button{
	outline: none;
}

#imagePlayingSong{
	padding: 0px;
	margin: 5px;
	margin-right: 20px;
/*    border-radius: 50%;*/
}

#miniPlayer{
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
}

#songs, #albums, #artists{
	display: none;
}

#buttonAlbum{
	position: absolute;
	top: 50%;
	padding-top: 50px;
}

#recomendations{
	display: none;
}

#snackButton{
	display: none;
	position: fixed;
	float: left;
	left: 20px;
	bottom: 100px;
}

body {
	font-family: "Roboto";
	background-color: white;
}

.jumbotron{
	margin-left: 0px;
	margin-right: 0px;
}

#nameAlbum{
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: elipsis;
	-o-text-overflow: elipsis;
}

.navbar{
	background-color: rgba(255,255,255,0.85)!important;
	opacity: 80%!important;
}

#namePlayingSong{
	font-weight: bold;
	font-size: 16px;
}

#albumPlayingSong{
	font-style: italic;
	font-size: 14px;
}

#namePlayingSong,#albumPlayingSong{
	color: black;
}

#miniplayer{
	display: none;
	bottom: 0px;
}

#page-content-wrapper{
	padding: 0px;
}

#sidebar-wrapper{
	z-index: 1031;
}


#etiqueta{
/*	border-top: 1px solid;*/
	border-color: grey;
	font-weight: bold;
	font-size: 26px;
	color: black;
	padding-bottom: 20px;
	padding-top: 20px;
	margin: 0px;
}

#lineTop{
	border-top: 1px solid grey;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-right: 20px;
	padding-left: 20px;
}

#volume{
	color: black;
}



/*ANIMACIO FADEIN*/
#wrapper{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*SLIDERS CSS*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px rgba(0, 34, 0, 0), 0px 0px 0.9px rgba(0, 60, 0, 0);
  background: rgba(0, 0, 0, 0);
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.32);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px rgba(0, 34, 0, 0), 0px 0px 0.9px rgba(0, 60, 0, 0);
  background: rgba(0, 0, 0, 0);
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.32);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 50px;
  box-shadow: 0.9px 0.9px 1.7px rgba(0, 34, 0, 0), 0px 0px 0.9px rgba(0, 60, 0, 0);
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 50px;
  box-shadow: 0.9px 0.9px 1.7px rgba(0, 34, 0, 0), 0px 0px 0.9px rgba(0, 60, 0, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}

